@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@keyframes header-efect{
    0%{
        position: relative; top: -8px;
    }
    100%{
        position: relative; top: 0px;
    }
}

*{
    box-sizing: border-box;
    font-family: var(--font-roboto);
    scroll-behavior: smooth;
}

:root{
    --font-roboto: 'Roboto', 'sans-serif';
    --cor-cinza: #797e9c;
    --cor-clara: #f9f9fc;
    --cor-roxa: #5e3aee;
    --cor-preto: #0f1221; 

    --background: #F0F4F8;
    --azul: #0A58D0;
    --azulBtn: #1a73e8;

    --roxoSootz: #2400AA;
    --roxoSecundarioSootz: #B4A3FC;
    --roxoSecundarioSootzTransparente: #b3a3fc18;
    --verdeSootz: #CFFD01;
    --verdeEscuro: #042940;

    --suaveBoxShadow: 0px 0px 2px lightgray;
    --cinza: #F3F3F3;
    --cinzaSuave: #edf1f4;
    --border-color: #dadce0;
    --cinzaClaro: rgba(95, 99, 104);
    --cinzaHoverBg: rgba(95, 99, 104, 0.1);

    --primary-bg: #eeebe8;
    --secondary-bg: rgba(255, 255, 255, 0.8);
    --highlight-color: #2400AA;
    --input-border: #ece9e6;
    --box-shadow-color: rgba(0, 0, 0, 0.1);
}

body{
    margin: 0;
    background-color: var(--background);
}

section{
    background-color: white;
}

a{
    text-decoration: none !important;
}

/* ProgressBar */
#progressBar{
    height: 4px;
    background-image: linear-gradient(45deg, var(--roxoSecundarioSootz), var(--roxoSootz) 60%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
}

/* MainContainer */
#mainContainer{
    box-shadow: 0px 0px 4px lightgray;
    max-width: 1200px;
    margin: auto;
}

/* Header  */

#menu-container{
    display: none;
}

header{
    background-color: white;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
}

header img:hover{
    transform: translate(-1px, -1px);
}

header nav a{
    margin-right: 30px;
    margin-left: 30px;
    text-decoration: none;
    color: var(--cor-cinza);
    position: relative;
    padding-bottom: 5px;
}

header nav a::after{
    content: '';
    background-color: var(--cor-cinza);
    height: 1px;
    width: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s ease-in-out;
}

header nav a:hover::after{
    width: 100%;
}

.fa-brands, .fa-solid{
    margin: 0px 10px;
    color: var(--cor-cinza);
}

header .fa-brands:hover{
    transform: translate(-2px, -2px);
}

/* Header Animations  */

#img-menu{
    display: block;
    background-color: rgba(255, 255, 255, 0.04);
    width: 45px;
    height: 45px;
    border-radius: 100px;
    position: relative;
}

#img-menu img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

header #name-logo{
    /* background-color: var(--cor-preto); */
    border-radius: 3px;
    padding: 8px;
    animation-name: header-efect;
	animation-duration: 0.2s;
	animation-delay: 0s; 
    transition: .2s ease-in-out;
    /* border: 1px solid var(--cinzaSuave); */
}

#name-logo a{
    font-size: 18px;
    font-family: "Outfit", sans-serif;
    font-weight: 900;
    color: black;
}

header #name-logo:hover{
    transform: translateY(-2px);
}

header #nav-sobre{
    animation-name: header-efect;
	animation-duration: 0.2s;
	animation-delay: 0.3s; 
}

header #nav-projetos{
    animation-name: header-efect;
	animation-duration: 0.2s;
	animation-delay: 0.6s; 
}

header #nav-skills{
    animation-name: header-efect;
	animation-duration: 0.2s;
	animation-delay: 0.9s; 
}

header #nav-contato{
    animation-name: header-efect;
	animation-duration: 0.2s;
	animation-delay: 1.2s; 
}

header #insta{
    animation-name: header-efect;
	animation-duration: 0.2s;
	animation-delay: 1.5s; 
}

header #github{
    animation-name: header-efect;
	animation-duration: 0.2s;
	animation-delay: 1.8s; 
}

header #whats{
    animation-name: header-efect;
	animation-duration: 0.2s;
	animation-delay: 2.1s; 
}

header #linkedin{
    animation-name: header-efect;
	animation-duration: 0.2s;
	animation-delay: 2.4s; 
}

/* Conteudo Principal  */

#sessao-principal{
    text-align: center;
    /* background-color: var(--cor-clara); */
    padding: 60px;
    position: relative;
}

#sessao-principal h1{
    font-size: 2.25em;
}


#Edsger{
    color: var(--cor-roxa);
}

/* Foto */

#foto-perfil{
    display: grid;
    justify-content: center;
}

/* Btns - Sessao Principal */

#linkedin-youtube-and-curriculo-container{
    margin-top: 35px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    max-width: 350px;
    margin: auto;
}

#linkedin-youtube-and-curriculo-container button{
    transition: .1s ease-in-out;
}

#linkedin-btn, #curriculo-btn{
    font-size: 17px;
    padding: 10px 8px;
    border-radius: 5px;
    border: none;
    color: var(--cor-cinza);
    width: 100%;
    font-weight: 500;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--background);
    border: 1px solid var(--cinzaSuave);
}

#linkedin-btn:hover,
#curriculo-btn:hover{
    background-color: white;
}

#youtube-btn-link{
    grid-column-start: 1;
    grid-column-end: 3;
}

#youtube-btn-link button{
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 10px;
    gap: 10px;
    background-color: red;
    border: 1px solid transparent;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 1px 1px 0px black;
}

#youtube-btn-link button:hover{
    background-color: rgb(219, 0, 0);
}

#youtube-btn img{
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    box-shadow: 0px 0px 1px 0px white, 1px 1px 0px 0px black;
}

#linkedin-youtube-and-curriculo-container button .fa-linkedin{
    margin: 0;
}

/* INFOS  */

#infos{
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid rgba(128, 128, 128, 0.151);
    border-bottom: 1px solid rgba(128, 128, 128, 0.151);
    justify-content: space-around;
}


.informacoes{
    text-align: center;
    flex: 0 1 200px;
}

.informacoes h2{
    font-size: 2em;
}

.informacoes p{
    text-transform: uppercase;
    font-weight: 300;
    color: var(--cor-cinza);
}

/* SOBRE  */

#sobre{
    display: flex;
    background-color: var(--cor-preto);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 20px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.151);
    border-top: 1px solid rgba(128, 128, 128, 0.151);
}

#sobre img{
    width: 400px;
}

.fa-street-view{
    background-color: var(--cor-roxa);
    color: white;
    border-radius: 50%;
    padding: 10px;
}

#div-sobre{
    color: white;
    max-width: 400px;
}

#div-sobre h3{
    color: var(--cor-cinza);
    text-transform: uppercase;
    font-size: 0.8em;
    margin-top: 60px;
}

#div-sobre h1{
    font-size: 2em;
    text-transform: capitalize;
}

#div-sobre p{
    line-height: 1.5;
    margin-bottom: 50px;
}

/* Projetos */

#projetos{
    border-top: 1px solid rgba(128, 128, 128, 0.151);
    border-bottom: 1px solid rgba(128, 128, 128, 0.151);
}

#projetos > :last-child{
    border-bottom: none !important;
}

.projetosAndTitleContainer{
    /* background-color: red; */
    border-bottom: 1px solid rgba(128, 128, 128, 0.151);
    padding: 30px 0px;
}

#projetos .projetosAndTitleContainer h1{
    margin: 0;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 1.5em;
    font-weight: bold !important;
    text-align: center;
    padding: 0px 30px;
    font-weight: 400;
}

.projetosContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 350px));
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.projetos{
    text-align: center;
    transition: 0.1s ease-in-out;
    cursor: pointer;
    background-color: var(--background);
    border-radius: 10px;
    padding: 10px;
    border: 1px solid var(--cinzaSuave);
    transition: .2s ease-in-out;
}

.projetos:hover{
    background-color: #e7ecf1;
    transform: translateY(-2px);
    box-shadow: 0px 2px 3px lightgray;
}

.projetos img{
    display: block;
    border-radius: 5px;
    width: 100%;
    margin: 0;
    min-height: 162px !important;
    max-height: 162px !important;
}

.projetos h2{
    text-align: left !important;
    margin: 0;
    margin-top: 15px;
    font-weight: 500 !important;
    font-size: 18px !important;
    color: gray !important;
    color: black !important;
}

#projetos a{
    text-decoration: none;
    display: block;
}

.projetos h2{
    font-size: 25px;
    color: var(--cor-preto);
    font-weight: 300;
}


/* SKILLS  */

#skills{
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.151);;
    color: white;
}

#skills h1{
    font-weight: bold;
    color: black;
    text-align: center;
    margin-bottom: 40px;
}

#skills-container{
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
    padding: 20px;
    gap: 20px;
    justify-content: center;
}

.tecnologias{
    color: black;
    border-radius: 4px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 32px 1fr;
    align-items: center;
    background-color: var(--background);
    transition: 0.2s;
    gap: 15px;
    padding: 10px;
    border: 1px solid var(--cinzaSuave);
}

.tecnologias i{
    margin: 0px !important;
    font-size: 32px;
    color: var(--cor-cinza);
}

.tecnologias h1{
    text-align: left !important;
    margin: 0px !important;
    font-size: 22px;
    color: gray !important;
}

.tecnologias:hover{
    box-shadow: 0px 2px 3px lightgray;
    transform: translateY(-2px);
}

/* FOOTER  */

footer{
    background-color: white;
    padding: 20px;
    padding-top: 60px;
    padding-bottom: 0px;
}

footer .fa-brands{
    font-size: 20px;
}

footer a{
    color: var(--cor-roxa);
    text-decoration: none;
}

footer a:hover{
    color: var(--highlight-color);
    transition: 0.4s;
}

#avatar-footer{
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-align: center;
    border: 1px solid var(--border-color);
    /* background-color: var(--background); */
}

#avatar-footer img{
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.1));
    width: 35px;
}

#avatar-footer img:hover{
    transform: translate(0px, -2px);
}

#footer-container1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 60px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.199);
}

#footer-container1-info p{
    color: var(--cor-cinza);
}

#footer-front{
    margin-top: -20px;
    margin-bottom: 80px;
}

#footer-container1-conversar{
    max-width: 300px;
}

#footer-container1-conversar h1{
    font-size: 3em;
}

#footer-container1-conversar p{
    line-height: 2;
    color: var(--cor-cinza);
    margin-bottom: 40px;
}

#footer-container1-conversar a{
    padding: 10px;
}

#footer-container1-conversar .fa-brands:hover{
    color: var(--cor-preto);
}



/* MEDIAS */
@media screen and (max-width: 800px){
    #header{
        padding: 10px;
        padding-bottom: 20px;
        gap: 10px;
    }

    header nav{
        padding-left: 10px;
    }

    header nav a{
        margin-left: 0px;
        margin-right: 20px;
    }

    #perfis-sociais{
        display: none;
    }
}


@media screen and (max-width: 500px){

    #sessao-principal{
        padding: 20px;
    }

    #sessao-principal h1{
        font-size: 24px;
    }

    #sessao-principal p{
        font-size: 14px;
    }

    #foto-perfil img{
        width: 300px;
    }

    /* Infos */
    #infos{
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /* Sobre */
    #sobre{
        gap: 0px;
    }

    #sobre h3{
        margin-top: 20px;
    }

    #sobre h1{
        font-size: 28px;
        margin-bottom: 30px;
    }

    #sobre h1 i{
        margin-left: 0px;
    }

    #img-sobre{
        order: 1;
    }
    
    #img-sobre img{
        width: 250px;
    }

    /* Projetos */
    .projetosAndTitleContainer h1{
        padding: 20px;
    }

    .projetosContainer{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    /* Skills */
    #skills-container{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }


    /* Footer */
    #footer-container1{
        justify-content: start;
    }

    #footer-container1-conversar a {
        padding-left: 0px;
    }

    #footer-container1-conversar a + a{
        padding-left: 10px !important;
    }
}