@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@keyframes header-efect{
    0%{
        position: relative; top: -8px;
    }
    100%{
        position: relative; top: 0px;
    }
}

*{
    box-sizing: border-box;
    font-family: var(--font-roboto);
}

html{
    scroll-behavior: smooth;
}

:root{
    --font-roboto: 'Roboto', 'sans-serif';
    --cor-cinza: #797e9c;
    --cor-clara: #f9f9fc;
    --cor-roxa: #5e3aee;
    --cor-preto: #0f1221; 
}

/* Header  */

#menu-container{
    display: none;
}

header{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    margin: auto;
}

header img:hover{
    transform: translate(-1px, -1px);
}


header nav a{
    margin-right: 30px;
    margin-left: 30px;
    text-decoration: none;
    color: var(--cor-cinza);
    position: relative;
    padding-bottom: 5px;
}

header nav a::after{
    content: '';
    background-color: var(--cor-cinza);
    height: 1px;
    width: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
}

header nav a:hover::after{
    width: 100%;
    transition: 0.3s;
}


.fa-brands{
    margin: 0px 10px;
    color: var(--cor-cinza);
}

header .fa-brands:hover{
    transform: translate(-2px, -2px);
}

/* Header Animations  */

header #img-logo{
    animation-name: header-efect;
	animation-duration: 0.2s;
	animation-delay: 0s; 
}

header #nav-sobre{
    animation-name: header-efect;
	animation-duration: 0.2s;
	animation-delay: 0.3s; 
}

header #nav-projetos{
    animation-name: header-efect;
	animation-duration: 0.2s;
	animation-delay: 0.6s; 
}

header #nav-skills{
    animation-name: header-efect;
	animation-duration: 0.2s;
	animation-delay: 0.9s; 
}

header #nav-contato{
    animation-name: header-efect;
	animation-duration: 0.2s;
	animation-delay: 1.2s; 
}

header #insta{
    animation-name: header-efect;
	animation-duration: 0.2s;
	animation-delay: 1.5s; 
}

header #github{
    animation-name: header-efect;
	animation-duration: 0.2s;
	animation-delay: 1.8s; 
}

header #whats{
    animation-name: header-efect;
	animation-duration: 0.2s;
	animation-delay: 2.1s; 
}

header #linkedin{
    animation-name: header-efect;
	animation-duration: 0.2s;
	animation-delay: 2.4s; 
}

/* Conteudo Principal  */

#sessao-principal{
    display: flex;
    flex-direction: column;
    height: 60vh;
    background-color: var(--cor-clara);
    justify-content: center;
    max-width: 1200px;
    margin: auto;
    position: relative;
}

#sessao-principal h1{
    font-size: 2.25em;
    color: var(--cor-preto);
}

#Edsger{
    color: var(--cor-roxa);
}

#primeira-apresentacao{
    margin-left: 42px;
    line-height: 1.5;
}

#sessao-principal #linkedin-and-curriculo-container{
    margin-top: 35px;
    margin-left: 42px;
    margin-right: 42px;
    max-width: 300px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}

#sessao-principal #linkedin-and-curriculo-container button{
    font-size: 16px;
    padding: 8px;
    background-color: var(--cor-roxa);
    border: none;
    color: white;
    width: 140px;
    font-weight: 500;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#sessao-principal #linkedin-and-curriculo-container button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 5px var(--cor-roxa);
}

#sessao-principal #linkedin-and-curriculo-container button .fa-linkedin{
    color: white;
}

#img-sessao-principal{
    width: 500px;
    position: absolute;
    right: 30px;
    bottom: 30px;
}

/* INFOS  */

#infos{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-top: 1px solid rgba(128, 128, 128, 0.151);
    border-bottom: 1px solid rgba(128, 128, 128, 0.151);
    justify-content: space-around;
}


.informacoes{
    text-align: center;
    flex: 0 1 200px;
}

.informacoes h2{
    font-size: 2em;
    color: var(--cor-preto);
}

.informacoes p{
    text-transform: uppercase;
    font-weight: 300;
    color: var(--cor-cinza);
}

/* SOBRE  */

#sobre{
    display: flex;
    background-color: var(--cor-preto);
    max-width: 1200px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 20px;
}

#sobre img{
    width: 400px;
}

.fa-street-view{
    background-color: var(--cor-roxa);
    border-radius: 50%;
    padding: 10px;
}

#div-sobre{
    color: white;
    max-width: 400px;
}

#div-sobre h3{
    color: var(--cor-cinza);
    text-transform: uppercase;
    font-size: 0.8em;
    margin-top: 60px;
}

#div-sobre h1{
    font-size: 2em;
    text-transform: capitalize;
}

#div-sobre p{
    line-height: 1.5;
    margin-bottom: 50px;
}

/* Projetos */

#projetos{
    border-top: 1px solid rgba(128, 128, 128, 0.151);
    max-width: 1200px;
    margin: auto;
    margin-top: 40px;
    padding-bottom: 55px;
    margin-bottom: 40px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.151);
}

#projetos h1{
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 2.5em;
    text-align: center;
    color: var(--cor-preto);
    font-weight: lighter;
}

.projetos-container-html-css{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.projetos-container-js{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}


.projetos{
    display: flex;
    flex-direction: column;
    margin: 10px 5px;
    max-width: 300px;
    text-align: center;
    color: grey;
    background-color: var(--cor-clara);
    border-bottom: 6px solid var(--cor-roxa);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.664);
}

.projetos:hover{
    transform: translate(0px, -5px);
    transition: 0.3s;
    border-bottom: 6px solid aquamarine;
    cursor: pointer;
}

#projetos a{
    text-decoration: none;
}

.projetos h2{
    font-size: 2.2em;
    color: var(--cor-preto);
    font-weight: 300;
}

.projetos img{
    margin: 0;
    max-width: 300px;
    order: -1;
}

.calculadora h2, .darkmode h2, .slideshow h2, .rd-e-mario h2{
    margin-top: 51px;
    margin-bottom: 51px;
}

/* SKILLS  */

#skills{
    padding-top: 40px;
    margin: auto;
    margin-top: 60px;
    max-width: 1200px;
    background-color: var(--cor-clara);
}

#skills h1{
    font-weight: lighter;
    text-align: center;
    margin-bottom: 40px;
}

#skills-container{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;    
}

.tecnologias{
    text-align: justify;
    background-color: white;
    max-width: 230px;
    margin: 10px;
    padding: 10px;
}

.tecnologias:hover{
    transition: 0.2s;
}

.tecnologias h1, h2{
    text-align: center;
    font-weight: 600;
}

.tecnologias h2{
    margin-top: -10px;
}

.tecnologias p {
    color: var(--cor-cinza);
    line-height: 1.5;
}

.tecnologias h2{
    font-size: 1em;
}

.html{
    border-top: 2px solid #0000FF;
}

.html:hover{
    box-shadow: 0px 0px 8px #0000FF;
}

.css{
    border-top: 2px solid #FF6600;
}

.css i{
    color: orange;
}

.css:hover{
    box-shadow: 0px 0px 8px #FF6600;
}

.js{
    border-top: 2px solid #FFFF00;
}

.js i{
    color: rgb(216, 216, 4);
}

.js:hover{
    box-shadow: 0px 0px 8px #FFFF00;
}

.ruby{
    border-top: 2px solid #FF0000;
}

.ruby i{
    color: red;
}

.ruby:hover{
    box-shadow: 0px 0px 8px red;
}

.git{
    border-top: 2px solid #F05033;
}

.git i{
    color: #F05033;
}

.git:hover{
    box-shadow: 0px 0px 8px #F05033;
}

.sql{
    border-top: 2px solid mediumseagreen;
}

.sql i{
    color: mediumseagreen;
}

.sql:hover{
    box-shadow: 0px 0px 8px mediumseagreen;
}

.figma{
    border-top: 2px solid #ff007f;
} 

.figma i{
    color: #ff007f;
}

.figma:hover{
    box-shadow: 0px 0px 8px #ff007f;
}

.node{
    border-top: 2px solid #80BD41;
}

.node i{
    color: #80BD41;
}

.node:hover{
    box-shadow: 0px 0px 8px #80BD41;
}

.react{
    border-top: 2px solid #4AD5FF;
}

.react i{
    color: #4AD5FF;
}

.react:hover{
    box-shadow: 0px 0px 8px #4AD5FF;
}

.bootstrapt{
    border-top: 2px solid #8B0BFC;
}

.bootstrapt i{
    color: #8B0BFC;
}

.bootstrapt:hover{
    box-shadow: 0px 0px 8px #8B0BFC;
}

.wordpress{
    border-top: 2px solid #21759b;
}

.wordpress i{
    color: #21759b;
}

.wordpress:hover{
    box-shadow: 0px 0px 8px #21759b;
}

/* FOOTER  */

footer{
    background-color: var(--cor-preto);
    max-width: 1200px;
    margin: auto;
    color: white;
    padding: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
}

footer a{
    color: white;
    text-decoration: none;
}

footer a:hover{
    color: var(--cor-roxa);
    transition: 0.4s;
}

#avatar-footer{
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    text-align: center;
}

#avatar-footer img{
    width: 35px;
}

#avatar-footer img:hover{
    transform: translate(0px, -2px);
}

#footer-container1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 60px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.199);
}

#footer-container1-info p{
    color: var(--cor-cinza);
}

#footer-front{
    margin-top: -20px;
    margin-bottom: 80px;
}

#footer-container1-conversar{
    max-width: 300px;
}

#footer-container1-conversar h1{
    font-size: 3em;
}

#footer-container1-conversar p{
    line-height: 2;
    color: var(--cor-cinza);
    margin-bottom: 40px;
}

#footer-container1-conversar a{
    padding: 10px;
}

#footer-container1-conversar .fa-brands:hover{
    color: white;
}

/* Footer-container 2  */

#footer-container2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 60px 40px 0px 40px;
}

#footer-container2 nav a{
    padding: 30px;
}


@media screen and (max-width: 500px){

    body{
        margin: 0;
    }
    
        /* Header Animations  */

    header #img-logo{
        animation-duration: 0.1s;
    }

    header #nav-sobre{
        animation-duration: 0.1s;
        animation-delay: 0.2s; 
    }

    header #nav-projetos{
        animation-duration: 0.1s;
        animation-delay: 0.4s; 
    }

    header #nav-skills{
        animation-duration: 0.1s;
        animation-delay: 0.6s; 
    }

    header #nav-contato{
        animation-duration: 0.1s;
        animation-delay: 0.8s; 
    }

    header #insta{
        animation-duration: 0.1s;
        animation-delay: 1s; 
    }

    header #github{
        animation-duration: 0.1s;
        animation-delay: 1.2s; 
    }

    header #whats{
        animation-name: header-efect;
        animation-duration: 0.1s;
        animation-delay: 1.4s; 
    }

    header #linkedin{
        animation-name: header-efect;
        animation-duration: 0.1s;
        animation-delay: 1.6s; 
    }
    
    /* conteúdo  */

    #sobre img{
        width: 200px;
    }

    #footer-container2{
        display: none;
    }

    #sessao-principal{
        padding-top: 40px;
        padding-bottom: 40px;
    }

    #sessao-principal h1{
        font-size: 5vw;
    }

    #sessao-principal p{
        font-size: 3vw;
        margin-bottom: 40px;
    }

    #sessao-principal form input{
        flex: 0 1;
    }

    #sessao-principal button input{
        flex: 0 1;
    }

    .projetos{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 160px;
        height: 200px;
        font-size: 12px;
    }

    .projetos img{
        width: 160px;
    }

    .rd-e-mario h2{
        margin-top: 0px;
        margin-bottom: 16px;
    }

    .tecnologias{
        width: 42vw;
        text-align: left;
        font-size: 0.8em;
    }

    #contato{
        padding-bottom: 0px;
    }
}

footer .fa-brands{
    font-size: 20px;
}

@media screen and (max-width: 1130px){
    #img-sessao-principal{
        width: 335px;
    }
}

@media screen and (max-width: 931px) {
    #img-sobre{
        order: 1;
    }

    #sobre{
        gap: 50px;
    }
}

@media screen and (max-width: 851px){
    #img-sessao-principal{
        width: 280px;
    }
}

@media screen and (max-width: 800px) {
    #img-sessao-principal{
        display: none;
    }

    #menu-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 10px;
    }

    #menu-container img{
        width: 25px;
    }

    .material-symbols-outlined{
        display: block;
        text-align: right;
        font-size: 35px;
        padding: 10px;
    }

    .material-symbols-outlined:hover{
        cursor: pointer;
    }

    header{
        flex-direction: column;
        display: none;
    }

    header nav{
        align-items: center;
        margin-top: 80px;
        margin-bottom: 80px;
        display: flex;
        flex-direction: column;
        gap: 50px 0px;
    }

    header .fa-brands{
        font-size: 25px;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 20px;
    }
}

@media (max-width: 370px){
    #sessao-principal #linkedin-and-curriculo-container{
        gap: 20px;
    }
}

@media (max-width: 375px){
    #sessao-principal h1{
        font-size: 22px;
    }
    
    #primeira-apresentacao p{
        font-size: 11px;
        margin-right: 9px;
    }
}

@media (max-width: 400px){
    #sessao-principal #linkedin-and-curriculo-container{
        justify-content: start;
    }
    #sessao-principal #linkedin-and-curriculo-container button{
        width: 120px;
        font-size: 14px;
    }
}


@media (max-width: 500px){
    #img-sobre img{
        width: 300px;
    }
}

@media (max-width: 300px){
    #img-sobre img{
        width: 200px;
    }
}

@media (min-width: 800px){
    header{
        position: fixed;
        z-index: 999;
        background-color: white;
        margin-top: -8px;
        width: 100vw;
        left: 50%;
        transform: translate(-50%, 0);
    }
}