scroll-to-top-btn{
    width: 40px;
    height: 40px;
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: white;
    cursor: pointer;
    border: 1px solid var(--cinzaSuave);
}

scroll-to-top-btn span{
    font-size: 22px !important;
    position: relative;
    animation: upAndDown .6s ease infinite;
}

scroll-to-top-btn:hover{
    box-shadow: 0px 0px 4px lightgray;
}

.hide{
    display: none;
}

@keyframes upAndDown {
    from{
        top: 0px;
    } to{
        top: -2px;
    }
}